<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/statistic.js"></script>
</head>
<body>
    <a id="name">Your name: </a>
    <table border="1">
        <tr>
            <td>Total full correct (winned) games</td>
            <td>Total games played</td>
            <td>Total correct guesses</td>
            <td>Total songs guessed</td>
            <td>Total correct rate</td>
            <td>Win game rate</td>
        </tr>
        <tr>
            <td id="totalwin"></td>
            <td id="totalgame"></td>
            <td id="totalcorrect"></td>
            <td id="totalguessed"></td>
            <td id="correctrate"></td>
            <td id="winrate"></td>
        </tr>
    </table>
    <a href="/"><button type="button" id="game">Back to game</button></a>
</body>
